/* ----- GOOGLE FONTS ----- */

/* ----- VARIABLES ----- */
/* Here website variables ( colors, font sizes, ... ) */
:root {
    --header-height: 100vh;

    /* Here website variables ( colors, font sizes, ... ) */
    /* ----- COLORS ----- */
    --balck: #000;
    --white: #fff;

    /* ----- FONT SIZES ----- */
    --body-font: ( font family );
    --biggest-font-size: --;
    --bigger-font-size: --;
    --big-font-size: --;
    --h2-font-size: --;
    --h3-font-size: --;
    --normal-font-size: --;
    --small-font-size: --;
    --smaller-font-size: --;
    --line-height: --;
    --font-weight-medium: --;
    --font-weight-semi-bold: --;
    --font-weight-bold: --;
}

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow: hidden;
}

/* ----- HEADER AND NAV ----- */

/* ----- BODY ----- */
body {
    background: url('../media/backimg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -50px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.menu .control {
    position: relative;
}
.control i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.control .x {
    opacity: 0.5;
}
.menu:hover .control .x {
    font-size: 2rem;
    opacity: 1;
}
.control .left {
    opacity: 0;
}
.menu.activate:hover .control .left {
    font-size: 2rem;
    opacity: 1;
}
.menu.activate .control .x {
    opacity: 0;
}
.menu.activate .control .left {
    opacity: 0.5;
}
.infoLayout {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Tajawal', sans-serif;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    visibility: visible;
}
.infoLayout.activate {
    visibility: hidden;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
.infoLayout::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2.5px);
            backdrop-filter: blur(2.5px);
    z-index: -10;
}
.infoLayout::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1) translate(1px, 1px);
        -ms-transform: scale(1.1) translate(1px, 1px);
            transform: scale(1.1) translate(1px, 1px);
    z-index: -1;
}
.infoLayout img {
    position: relative;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.infoLayout h1 {
    margin-top: 1.5rem;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
.infoLayout p {
    margin-top: 0.75rem;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2.75);
}
.infoLayout .social {
    position: relative;
    width: 95%;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px);
}
.social div {
    position: relative;
    width: 20%;
    height: 65%;
    background-color: transparent;
    margin: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    font-size: 3rem;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.social div:hover {
    cursor: pointer;
}
.social .cards a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #333;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.social .cards:hover a {
    color: var(--white);
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
}
.social div:hover.twitter {
    background-color: #0099ff;
}
.social div:hover.instagram {
    background-color: #e4405f;
}
.social div:hover.github {
    background-color: #000;
}
.social div:hover.whatsapp {
    background-color: #25d366;
}
.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.main.activate {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.main {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.salaryCalculator {
    position: relative;
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px;
}
.totalSalary {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
    font-size: 20px;
}
.totalSalary input {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.35);
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    font-size: 25px;
}
.totalSalary input::-webkit-outer-spin-button,
.totalSalary input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.totalSalary input[type=number] {
    -moz-appearance: textfield;
}
.totalSalary input::placeholder {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    opacity: 1;
}
.totalSalary label {
    position: relative;
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
    margin-left: 5px;
}
.totalSalary span {
    position: relative;
    width: 80px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.5) inset;
    background-image: url('../media/salaryCount.png');
    color: white;
    text-shadow: 2px 0 3px #000, -2px 0 3px #000, 0 2px 3px #000, 0 -2px 3px #000;
}
.totalSalaryBtn {
    background-image: url('../media/salaryCount.png');
    background-size: cover;
    background-position: -15% 50%;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}
.btns {
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(2px);
}
.btns span {
    position: relative;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.21);
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    border-bottom: none;
    cursor: pointer;
    color: var(--white);
}
.totalSalaryDetailes h1 {
    margin: 10px 0;
}
.totalSalaryDetailes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
}
.totalSalaryDetailes .inputsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.inputsContainer input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
}
.maxMonthlyCommitments {
    display: none;
    width: 100%;
}
.maxMonthlyCommitments.show {
    display: block;
}
.maxPersonFinancing {
    display: none;
}
.maxPersonFinancing.show {
    display: block;
}
.maxRealEstateFinancing {
    display: none;
}
.maxRealEstateFinancing.show {
    display: block;
}
#maxPersonFinancingTotal,
#maxPersonFinancingMonthly,
#PersonFinancingTheRest,
#maxRealEstateFinancingTotal,
#maxRealEstateFinancingMonthly,
#RealEstateFinancingTheRest,
#MonthlyCommitments,
#MonthlyCommitmentsThrRest {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
    border: none;
}
.monthlyCommitments,
.personFinancing,
.RealEstateFinancing {
    opacity: 0.25;
    border-radius: 0;
    transition: 0.2s ease-in-out;
}
.monthlyCommitments.show,
.RealEstateFinancing.show,
.personFinancing.show {
    opacity: 1;
    transform: translateY(-3px) scale(1.1);
    border-radius: 5px 5px 0 0;
}
.monthlyCommitments {
    border-radius: 0 10px 0 0;
}
.monthlyCommitments.show {
    border-radius: 5px 10px 0 0;
    transform: translateY(-3px) scale(1.1);
}
.RealEstateFinancing {
    border-radius: 10px 0 0 0;
}
.RealEstateFinancing.show {
    border-radius: 10px 5px 0 0;
}
.personFinancing.show {
    opacity: 1;
}
.MonthlyCommitmentsThrRestTitle {
    border: none;
    margin-right: 10px;
}
.MonthlyCommitmentsThrRest {
    width: 67.5px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.maxMonthlyCommitments .inputsContainer, .inputsContainers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.maxMonthlyCommitments .inputsContainer input {
    width: 100px;
    height: 25px;
    margin: 0;
    border: none;
}
.maxMonthlyCommitments .inputsContainer select {
    width: 80px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
}
.maxMonthlyCommitments .inputsContainer span {
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    color: white;
    cursor: pointer;
}
.result {
    width: 100%;
    height: 300px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    overflow-y: scroll;
}
.result h3 {
    text-align: center;
    margin-bottom: 10px;
}
.result .maxPersonFinancingInfo, 
.result .maxRealEstateFinancingInfo,
.result .currentInstallment,
.result .totalBills,
.result .percent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.infoDetaile,
.infoDetaileP,
.infoDetaileR,
.infoDetaileC,
.billsDetaile,
.percentInstallment,
.percentBills {
    width: 67.5px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.5) inset;
    border-radius: 5px;
}
.result hr {
    margin: 10px 0;
}
/* ----- FOOTER ----- */